.body {
    margin: 0px;
} 

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 4px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.slack { 
    display: grid;
    background-color: #19171D;
    margin: 0px;
    padding: 0px;
    min-height: 99vh
}
h2 {
    color: whitesmoke;
    font-size: 20px;
    font-family:Content-font, Roboto, sans-serif;
    padding:  5px;
    margin: 10px;
}

.canales li:hover {
    background-color: #757477;
}

.canales {
    
    color: #eae9eb;
    font-family: Content-font, Roboto, sans-serif;
    border-radius: 0.5em;
    padding: 0.5em;
    padding-inline-start: 0px ;
    margin-left: 20px;  
} 

.c1 {
    background-color: #1164A3;
    margin-bottom: 5px;
}
.c2 { 
    margin-bottom: 5px;
}

ul {
    list-style: none;
    font-size: 15px;
    color: #757477;
    font-family: Content-font, Roboto, sans-serif;
}

.nombre {
    color: #ffffff;
    font-size: 15px;
}

.mensajes {
    color: #ffffff;
    background-color: #1a1d21;
    font-family: Content-font, Roboto, sans-serif;
    grid-column: 2 / span 3;
    border-left: 1px solid #2f2f30;
    display : flex;
    flex-direction: column;
    justify-content: flex-end;  
}

.imagperfil {
    border-radius: 5px;
}
.cajamensajes {
    width: auto;
    height: 50px;
    margin: 30px;

}

.chat {
    border: 1px solid #757477;
    border-radius: 3px;
    width: 100;
    height: 34Px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 6px;
}

.input {
    border: 0;
    background-color: transparent;
    color: whitesmoke;
    font-style: unset; 
    font-size: 15px;
    height: 100%;
    width: 96%;
    padding: 15px ;
    outline: none;
    margin-bottom: 5px;
}

.enviar {
    border:0;
    background-color: #222529;
    font-family:Content-font, Roboto, sans-serif;
    color: whitesmoke;
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
}




